In [2]:
from selenium.webdriver import Chrome
from bs4 import BeautifulSoup
import pandas as pd
import numpy as np
import pymongo
from selenium.common.exceptions import NoSuchElementException
from cost_of_living import *
from functools import reduce
import matplotlib.pyplot as plt
%matplotlib inline
from hidden import debt

In [10]:
data = pd.read_excel('data/citydf.xlsx')

### Check Data for missing values --> Which appear to be denoted as '?'

In [20]:
data[data['price'] == '?']

            category           city                                item price
28    Transportation      Palo-Alto        Monthly Pass (Regular Price)     ?
796          Markets  Mountain-View       Cigarettes 20 Pack (Marlboro)     ?
1240  Transportation         Irvine         Taxi 1 mile (Normal Tariff)     ?
1515  Transportation          Plano         Taxi 1 mile (Normal Tariff)     ?
1516  Transportation          Plano  Taxi 1hour Waiting (Normal Tariff)     ?

In [ ]:
### Write function to find lat_long of a city

In [32]:
from geopy.geocoders import Nominatim
def find_lat_long(city):
    geolocator = Nominatim(user_agent="LifestyleDesign")
    location = geolocator.geocode(city)
    return location[1]

In [ ]:
data['lat_long'] = data['city'].apply(find_lat_long)

In [54]:
cities = data.city.unique()

In [57]:
city_lat_long = {}
for city in cities:
    print(city)
    print(find_lat_long(city))
    city_lat_long[city] = find_lat_long(city)

Palo-Alto
(37.4455862, -122.1619289)
San-Jose
(37.3361905, -121.8905833)
Portland
(45.5202471, -122.6741949)
Austin
(30.30758105, -97.712630246401)
Denver
(39.7391428, -104.984696)
San-Diego
(32.7174209, -117.1627714)
Washington D.C.
(38.8950092, -77.0365625)
Boston
(42.3602534, -71.0582912)
San-Francisco
(37.7647993, -122.4629897)
Seattle
(47.6038321, -122.3300624)
Atlanta
(33.7490987, -84.3901849)
Los-Angeles
(34.0536834, -118.2427669)
Chicago
(41.8755616, -87.6244212)
New-York
(40.7308619, -73.9871558)
Mountain-View
(37.3893889, -122.0832101)
Santa-Monica
(34.019657, -118.487549)
Cambridge
(52.2034823, 0.1235817)
Salt-Lake-City
(40.7670126, -111.8904308)
Raleigh
(35.7803977, -78.6390989)
Nashville
(36.1622296, -86.7743531)
Sunnyvale
(37.3688301, -122.0363496)
Boulder
(40.0149856, -105.2705456)
Irvine
(55.6143018, -4.6655544)
Philadelphia
(39.9524152, -75.1635755)
Dallas
(32.7762719, -96.7968559)
Bellevue
(47.6144219, -122.1923372)
Charlotte
(35.2270869, -80.8431268)
Plano
(33.0136764, -96.6925096)
Richmond
(37.5385087, -77.43428)

In [52]:
data['city'].replace('Washington', "Washington D.C.", inplace=True)

,category,city,item,price
0,Restaurants,Palo-Alto,"Meal, Inexpensive Restaurant",15.45
1,Restaurants,Palo-Alto,"Meal for 2 People, Mid-range Restaurant, Three...",72.50
2,Restaurants,Palo-Alto,McMeal at McDonalds (or Equivalent Combo Meal),8.00
3,Restaurants,Palo-Alto,Domestic Beer (1 pint draught),6.00
4,Restaurants,Palo-Alto,Imported Beer (11.2 oz small bottle),7.00
5,Restaurants,Palo-Alto,Cappuccino (regular),3.80
6,Restaurants,Palo-Alto,Coke/Pepsi (11.2 oz small bottle),1.95
7,Restaurants,Palo-Alto,Water (11.2 oz small bottle),1.68
8,Markets,Palo-Alto,"Milk (regular), (1 gallon)",4.33
9,Markets,Palo-Alto,Loaf of Fresh White Bread (1 lb),3.33
10,Markets,Palo-Alto,"Rice (white), (1 lb)",2.33
11,Markets,Palo-Alto,Eggs (regular) (12),3.32
12,Markets,Palo-Alto,Local Cheese (1 lb),7.00
13,Markets,Palo-Alto,"Chicken Breasts (Boneless, Skinless), (1 lb)",4.28
14,Markets,Palo-Alto,Beef Round (1 lb) (or Equivalent Back Leg Red ...,6.75
15,Markets,Palo-Alto,Apples (1 lb),2.00
16,Markets,Palo-Alto,Banana (1 lb),1.00
17,Markets,Palo-Alto,Oranges (1 lb),1.45
18,Markets,Palo-Alto,Tomato (1 lb),2.00
19,Markets,Palo-Alto,Potato (1 lb),1.14
20,Markets,Palo-Alto,Onion (1 lb),1.08
21,Markets,Palo-Alto,Lettuce (1 head),1.65
22,Markets,Palo-Alto,Water (1.5 liter bottle),2.00
23,Markets,Palo-Alto,Bottle of Wine (Mid-Range),15.00
24,Markets,Palo-Alto,Domestic Beer (0.5 liter bottle),1.88
25,Markets,Palo-Alto,Imported Beer (11.2 oz small bottle),3.62
26,Markets,Palo-Alto,Cigarettes 20 Pack (Marlboro),8.62
27,Transportation,Palo-Alto,One-way Ticket (Local Transport),3.00
28,Transportation,Palo-Alto,Monthly Pass (Regular Price),?
29,Transportation,Palo-Alto,Taxi Start (Normal Tariff),3.50
...,...,...,...,...
1565,Markets,Richmond,Imported Beer (11.2 oz small bottle),2.95
1566,Markets,Richmond,Cigarettes 20 Pack (Marlboro),5.00
1567,Transportation,Richmond,One-way Ticket (Local Transport),1.75
1568,Transportation,Richmond,Monthly Pass (Regular Price),60.00
1569,Transportation,Richmond,Taxi Start (Normal Tariff),2.50
1570,Transportation,Richmond,Taxi 1 mile (Normal Tariff),3.00
1571,Transportation,Richmond,Taxi 1hour Waiting (Normal Tariff),20.00
1572,Transportation,Richmond,Gasoline (1 gallon),2.36
1573,Transportation,Richmond,Volkswagen Golf 1.4 90 KW Trendline (Or Equiva...,20000.00
1574,Transportation,Richmond,Toyota Corolla 1.6l 97kW Comfort (Or Equivalen...,18500.00
1575,Utilities (Monthly),Richmond,"Basic (Electricity, Heating, Cooling, Water, G...",150.56
1576,Utilities (Monthly),Richmond,1 min. of Prepaid Mobile Tariff Local (No Disc...,0.10
1577,Utilities (Monthly),Richmond,"Internet (60 Mbps or More, Unlimited Data, Cab...",63.87
1578,Sports And Leisure,Richmond,"Fitness Club, Monthly Fee for 1 Adult",27.54
1579,Sports And Leisure,Richmond,Tennis Court Rent (1 Hour on Weekend),7.50
1580,Sports And Leisure,Richmond,"Cinema, International Release, 1 Seat",11.00
1581,Childcare,Richmond,"Preschool (or Kindergarten), Full Day, Private...",900.00
1582,Childcare,Richmond,"International Primary School, Yearly for 1 Child",15333.33
1583,Clothing And Shoes,Richmond,1 Pair of Jeans (Levis 501 Or Similar),41.27
1584,Clothing And Shoes,Richmond,"1 Summer Dress in a Chain Store (Zara, H&M, ...)",36.44
1585,Clothing And Shoes,Richmond,1 Pair of Nike Running Shoes (Mid-Range),65.75
1586,Clothing And Shoes,Richmond,1 Pair of Men Leather Business Shoes,86.82
1587,Rent Per Month,Richmond,Apartment (1 bedroom) in City Centre,1147.44
1588,Rent Per Month,Richmond,Apartment (1 bedroom) Outside of Centre,925.61
1589,Rent Per Month,Richmond,Apartment (3 bedrooms) in City Centre,1714.44
1590,Rent Per Month,Richmond,Apartment (3 bedrooms) Outside of Centre,1353.12
1591,Buy Apartment Price,Richmond,Price per Square Feet to Buy Apartment in City...,210.23
1592,Buy Apartment Price,Richmond,Price per Square Feet to Buy Apartment Outside...,95.90
1593,Salaries And Financing,Richmond,Average Monthly Net Salary (After Tax),2844.24
1594,Salaries And Financing,Richmond,"Mortgage Interest Rate in Percentages (%), Yea...",4.33