In [3]:
from selenium.webdriver import Chrome
from bs4 import BeautifulSoup
import pandas as pd
import numpy as np
import pymongo
from selenium.common.exceptions import NoSuchElementException
from cost_of_living import *
from functools import reduce
import matplotlib.pyplot as plt
%matplotlib inline
from hidden import debt
from math import cos, sqrt

## Write a function to produce cost-of-living in multiple cities

In [2]:
data = pd.read_excel('data/citydf.xlsx')
data['city'].replace('Washington', "Washington D.C.", inplace=True)

In [4]:
monthly_constants = {
'Cinema, International Release, 1 Seat' : 2,
'Fitness Club, Monthly Fee for 1 Adult' : 2,
'Basic (Electricity, Heating, Cooling, Water, Garbage) for 915 sq ft Apartment' : 1,
'Internet (60 Mbps or More, Unlimited Data, Cable/ADSL)' : 1,
'Gasoline (1 gallon)' : 15,
'Imported Beer (11.2 oz small bottle)' : 10,
'Bottle of Wine (Mid-Range)' : 2,
'Cappuccino (regular)'  : 30,
'Meal, Inexpensive Restaurant' : 8,
'1 Pair of Jeans (Levis 501 Or Similar)' : 1,
'groceries (dollars)': 600
}

def cost_per_city_1B_Center(citydf, monthly_constants):
    for city in citydf.city.unique():
        total = 0
        for item, price in monthly_constants.items():
            if item != 'groceries (dollars)':
                price = float(citydf[(citydf['city']==city) & (citydf['item']==item)].values[0][3]) * price
                total += price
            else:
                total += price
        total += (float(citydf[(citydf['city']==city) & 
                               (citydf['item']=='Apartment (1 bedroom) in City Centre')].values[0][3]))
        result = {
        'city' : city,
        '1_Bed_Center_Total' : total
                  }
        yield result
        
def cost_per_city_3B_Center(citydf, monthly_constants):
    for city in citydf.city.unique():
        total = 0
        for item, price in monthly_constants.items():
            if item != 'groceries (dollars)':
                price = float(citydf[(citydf['city']==city) & (citydf['item']==item)].values[0][3]) * price
                total += price
            else:
                total += price
        total += round((float(citydf[(citydf['city']==city) & 
                               (citydf['item']=='Apartment (3 bedrooms) in City Centre')].values[0][3]) / 3),2)
        result = {
        'city' : city,
        '3_Bed_Center_Total' : total
                  }
        yield result

def cost_per_city_3B_Outside(citydf, monthly_constants):
    for city in citydf.city.unique():
        total = 0
        for item, price in monthly_constants.items():
            if item != 'groceries (dollars)':
                price = float(citydf[(citydf['city']==city) & (citydf['item']==item)].values[0][3]) * price
                total += price
            else:
                total += price
        total += round(((float(citydf[(citydf['city']==city) & 
                               (citydf['item']=='Apartment (3 bedrooms) Outside of Centre')].values[0][3])) / 3),2)
        result = {
        'city' : city,
        '3_Bed_Outside_Total' : total
                  }
        yield result

def cost_per_city_1B_Outside(citydf, monthly_constants):
    for city in citydf.city.unique():
        total = 0
        for item, price in monthly_constants.items():
            if item != 'groceries (dollars)':
                price = float(citydf[(citydf['city']==city) & (citydf['item']==item)].values[0][3]) * price
                total += price
            else:
                total += price
        total += (float(citydf[(citydf['city']==city) & 
                               (citydf['item']=='Apartment (1 bedroom) Outside of Centre')].values[0][3]))
        result = {
        'city' : city,
        '1_Bed_Outside_Total' : total
                  }
        yield result

In [5]:
def find_cost_of_living(data, monthly_constants):
    B1_center = pd.DataFrame(list(cost_per_city_1B_Center(data, monthly_constants)))
    B3_center = pd.DataFrame(list(cost_per_city_3B_Center(data, monthly_constants)))
    B1_Outside = pd.DataFrame(list(cost_per_city_1B_Outside(data, monthly_constants)))
    B3_Outside = pd.DataFrame(list(cost_per_city_3B_Outside(data, monthly_constants)))
    B1_center.set_index('city', inplace=True)
    B3_center.set_index('city', inplace=True)
    B1_Outside.set_index('city', inplace=True)
    B3_Outside.set_index('city', inplace=True)
    dfs = [B1_center, B3_center, B1_Outside, B3_Outside]
    city_matrix = pd.concat(dfs, axis=1)
    city_matrix['city'] = city_matrix.index
    city_matrix.drop(columns='city', inplace=True)
    return city_matrix

In [6]:
find_cost_of_living(data, monthly_constants)

,1_Bed_Center_Total,3_Bed_Center_Total,1_Bed_Outside_Total,3_Bed_Outside_Total
city,,,,
Palo-Alto,4387.48,3127.55,4094.21,2871.99
San-Jose,3714.08,2500.71,3456.40,2415.23
Portland,2864.56,2296.22,2485.55,1980.12
Austin,2969.98,2289.77,2399.66,1943.74
Denver,2907.57,2211.63,2574.14,1982.24
San-Diego,3210.41,2406.10,2804.00,2184.68
Washington D.C.,3517.34,2701.31,3064.00,2314.06
Boston,3821.77,2853.61,3136.72,2316.74
San-Francisco,4806.91,3329.76,4053.38,2852.41
Seattle,3375.61,2609.09,2866.58,2216.39
Atlanta,2826.20,2212.82,2369.24,1879.63
Los-Angeles,3482.61,2646.62,3036.76,2310.66
Chicago,3078.89,2405.30,2463.50,1993.23
New-York,4646.15,3593.82,3414.25,2594.11
Mountain-View,4161.09,2832.76,3674.42,2641.09
Santa-Monica,3877.65,3380.75,3464.08,2842.65
Cambridge,2314.90,1854.07,2086.22,1725.55
Salt-Lake-City,2440.12,1880.80,2099.88,1722.83
Raleigh,2463.53,1879.52,2220.98,1737.42
Nashville,2872.34,2253.19,2374.51,1918.48
Sunnyvale,4161.60,2806.31,3640.97,2542.65
Boulder,2824.38,2341.05,2562.76,2122.53
Irvine,3353.58,2384.34,3143.25,2270.99
Philadelphia,2893.43,2273.30,2368.40,1881.41
Dallas,2590.93,2092.87,2255.06,1867.09
Bellevue,3430.36,2473.14,3130.89,2220.37
Charlotte,2717.21,2051.36,2269.79,1797.04
Plano,2489.02,2043.78,2259.89,1905.69
Richmond,2409.60,1833.64,2187.77,1713.20

In [17]:
cities = {'New-York': 'New York, New York', 'San-Francisco' : 'San-Francisco, California', 
          'Honolulu' : 'Honolulu, Hawaii', 'Arlington' : 'Arlington, Virgina', 'Anchorage' : 'Anchorage, Alaska',
          'Brooklyn' : 'Brooklyn, New York', 'Santa-Rosa' : 'Santa-Rosa, California', 'Washington' : 'Washington, D.C.',
          'Charleston' : 'Charleston, South Carolina', 'Berkeley' : 'Berkeley, California', 
          'Seattle' : 'Seattle, Washington', 'Jersey-City': 'Jersey City, New Jersey', 
          'Boston' : 'Boston, Massachusetts', 'Oakland' : 'Oakland, California', 'Hartford' : 'Hartford, Connecticut',
          'Philadelphia' : 'Philadelphia, Pennsylvania', 'Albany' : 'Albany, New York','Long-Beach' : 'Long Beach, California', 
          'Irvine' : 'Irvine, California', 'Miami': 'Miami, Florida', 'Los-Angeles' : 'Los Angeles, California',
          'Boulder' : 'Boulder, Colorado', 'Sacramento' : 'Sacramento, California', 'Chicago' : 'Chicago, Illinois',
          'Greenville' : 'Greenville, South Carolina', 'Burlington' : 'Burlington, Vermont', 'San-Jose' : 'San Jose, California',
          'Everett' : 'Everett, Washington', 'Birmingham' : 'Birmingham, Alabama', 'Pittsburgh' : 'Pittsburgh, Pennsylvania',
          'Minneapolis' : 'Minneapolis, Minnesota', 'Baltimore' : 'Baltimore, Maryland', 'Portland' : 'Portland, Oregon',
          'Rochester' : 'Rochester, New York', 'Charlotte' : 'Charlotte, North Carolina',
          'Santa-Barbara' : 'Santa Barbara, California', 'West-Palm-Beach' : 'West Palm Beach, Florida', 
          'Tacoma' : 'Tacoma, Washington', 'Portland-ME' : 'Portland, Maine', 'Bellingham' : 'Bellingham, Washington',
          'San-Diego' : 'San Diego, California', 'Saint-Paul' : 'Saint Paul, Minnesota', 'Atlanta' : 'Atlanta, Georgia',
          'Asheville' : 'Asheville, North Carolina', 'Eugene' : 'Eugene, Oregon', 'Saint-Petersburg' : 'Saint Petersburg, Florida',
          'Buffalo' : 'Buffalo, New York', 'Peoria' : 'Peoria, Illinois', 'Austin' : 'Austin, Texas',
          'Cleveland' : 'Cleveland, Ohio', 'Jacksonville' : 'Jacksonville, Florida', 'Milwaukee' : 'Milwaukee, Wisconsin',
          'Denver' : 'Denver, Colorado', 'Indianapolis' : 'Indianapolis, Indiana', 'Arlington' : 'Arlington, Texas',
          'Ann-Arbor' : 'Ann Arbor, Michigan', 'Raleigh' : 'Raleigh, North Carolina', 'Orlando' : 'Orlando, Florida',
          'Tampa' : 'Tampa, Florida', 'Saint-Louis' : 'Saint Louis, Missouri', 'Nashville' : 'Nashville, Tennessee',
          'Syracuse' : 'Syracuse, New York', 'Salem' : 'Salem, Oregon', 'Kansas-City' : 'Kansas City, Missouri',
          'Spokane' : 'Spokane, Washington', 'Bakersfield' : 'Bakersfield, California', 'Columbus' : 'Columbus, Ohio',
          'Tallahassee' : 'Tallahassee, Florida', 'Memphis' : 'Memphis, Tennessee', 'Las-Vegas' : 'Las Vegas, Nevada',
          'Columbia' : 'Columbia, South Carolina', 'Dallas' : 'Dallas, Texas', 'Detroit': 'Detroit, Michigan', 
          'Phoenix' : 'Phoenix, Arizona', 'Greensboro' : 'Greensboro, North Carolina', 'Richmond' : 'Richmond, Virgina',
          'Cincinnati' : 'Cincinnati, Ohio', 'Fort Worth' : 'Fort Worth, Texas', 'Fresno' : 'Fresno, California',
          'Grand Rapids' : 'Grand Rapids, Michigan', 'Tucson' : 'Tucson, Arizona', 'Fremont' : 'Fremont, California',
          'Riverside' : 'Riverside, California', 'Albuquerque' : 'Albuquerque, New Mexico', 'Tulsa' : 'Tulsa, Oklahoma',
          'Chattanooga' : 'Chattanooga, Tennessee', 'Louisville' : 'Louisville, Kentucky', 'Salt-Lake-City' : 'Salt Lake City, Utah',
          'Houston' : 'Houston, Texas', 'Oklahoma City' : 'Oklahoma-City, Oklahoma', 'Des-Moines' : 'Des Moines, Iowa',
          'Fayetteville' : 'Fayetteville, Arizona', 'Madison' : 'Madison, Wisconsin', 'Wichita' : 'Wichita, Kansas',
          'San-Antonio' : 'San Antonio, Texas', 'Knoxville' : 'Knoxville, Tennessee', 'Vancouver' : 'Vancouver, Washington',
          'Toledo' : 'Toledo, Ohio', 'Boise' : 'Boise, Idaho', 'Reno' : 'Reno, Nevada', 'Little-Rock' : 'Little Rock, Arizona',
          'Huntsville' : 'Huntsville, Alabama', 'El-Paso' : 'El Paso, Texas', 'Lexington' : 'Lexington, Kentucky'}

In [20]:
city_data = list(scrape_cities(cities.keys()))

In [21]:
citydf = pd.DataFrame(city_data)

In [31]:
def get_city_data(city):
    city_data = pd.DataFrame(list(scrape_cities(city)))
    return city_data

In [39]:
hoboken_data = get_city_data(['Hoboken'])

## Write function to standardize prices

#### Start by finding a city that has missing values. For this example, we'll use Hoboken. We'll then concatenate Hoboken to our other data.

In [84]:
frames = [citydf, hoboken_data]
result = pd.concat(frames)

#### Now we'll transpose the DF and move the columns around so that we can work with them.

In [106]:
import string

In [88]:
play = result

In [80]:
play.columns = play.iloc[1]

In [77]:
play.set_index('city', inplace=True)

In [93]:
play.replace('?', np.NAN, inplace=True)

In [108]:
play.dropna(inplace=True)
play['price'] = play['price'].apply(clean_number)

In [110]:
art = pd.crosstab(index=play['city'], columns=play['item'], values=play['price'], aggfunc=np.mean)

In [116]:
art.loc[art.isnull().sum(axis=1).astype(np.bool)]

item,1 Pair of Jeans (Levis 501 Or Similar),1 Pair of Men Leather Business Shoes,1 Pair of Nike Running Shoes (Mid-Range),"1 Summer Dress in a Chain Store (Zara, H&M, ...)",1 min. of Prepaid Mobile Tariff Local (No Discounts or Plans),Apartment (1 bedroom) Outside of Centre,Apartment (1 bedroom) in City Centre,Apartment (3 bedrooms) Outside of Centre,Apartment (3 bedrooms) in City Centre,Apples (1 lb),...,"Rice (white), (1 lb)",Taxi 1 mile (Normal Tariff),Taxi 1hour Waiting (Normal Tariff),Taxi Start (Normal Tariff),Tennis Court Rent (1 Hour on Weekend),Tomato (1 lb),Toyota Corolla 1.6l 97kW Comfort (Or Equivalent New Car),Volkswagen Golf 1.4 90 KW Trendline (Or Equivalent New Car),Water (1.5 liter bottle),Water (11.2 oz small bottle)
city,,,,,,,,,,,,,,,,,,,,,
Hoboken,80.0,100.0,96.67,50.0,0.1,1875.0,2233.33,4500.0,4800.0,3.76,...,4.5,5.0,NaN,6.0,NaN,4.5,18500.0,20000.0,2.65,1.67

In [107]:
def clean_number(text):
    """Remove invalid characters from text representation of number and cast to float"""
    valid_chars = ""
    for char in text.strip():
        if char in string.digits + '.':
            valid_chars += char
    return float(valid_chars)

In [117]:
art

item,1 Pair of Jeans (Levis 501 Or Similar),1 Pair of Men Leather Business Shoes,1 Pair of Nike Running Shoes (Mid-Range),"1 Summer Dress in a Chain Store (Zara, H&M, ...)",1 min. of Prepaid Mobile Tariff Local (No Discounts or Plans),Apartment (1 bedroom) Outside of Centre,Apartment (1 bedroom) in City Centre,Apartment (3 bedrooms) Outside of Centre,Apartment (3 bedrooms) in City Centre,Apples (1 lb),...,"Rice (white), (1 lb)",Taxi 1 mile (Normal Tariff),Taxi 1hour Waiting (Normal Tariff),Taxi Start (Normal Tariff),Tennis Court Rent (1 Hour on Weekend),Tomato (1 lb),Toyota Corolla 1.6l 97kW Comfort (Or Equivalent New Car),Volkswagen Golf 1.4 90 KW Trendline (Or Equivalent New Car),Water (1.5 liter bottle),Water (11.2 oz small bottle)
city,,,,,,,,,,,,,,,,,,,,,
Albany,46.09,96.90,80.82,35.80,0.10,816.27,931.25,1358.33,1554.09,2.70,...,1.88,5.00,30.00,7.25,32.50,2.99,21000.00,23000.0,1.92,1.78
Albuquerque,39.97,81.73,69.46,42.50,0.10,708.85,830.00,1161.33,1329.69,1.82,...,1.56,2.55,28.40,2.98,1.67,2.07,20808.33,21725.0,2.19,1.48
Anchorage,42.91,103.17,77.36,45.33,0.10,981.67,1247.06,1708.53,1945.88,3.13,...,3.20,2.50,50.00,2.75,25.67,2.08,21529.50,22500.0,2.17,1.86
Ann-Arbor,42.38,94.28,82.50,33.57,0.10,976.27,1411.11,1814.29,2785.71,1.89,...,1.36,3.00,24.00,4.75,16.33,1.65,21666.67,25107.5,1.75,1.22
Arlington,43.56,105.80,76.44,45.83,0.10,1670.60,2107.85,2833.33,3514.29,2.50,...,3.23,2.10,23.50,3.50,21.67,1.50,18430.33,21455.0,1.75,1.75
Asheville,47.33,111.50,77.50,37.00,0.10,888.24,1146.67,1469.23,1987.50,2.55,...,2.44,5.00,18.50,3.25,17.50,1.85,24333.33,23500.0,1.75,1.46
Atlanta,40.06,87.07,75.97,36.75,0.10,1047.10,1506.57,1662.12,2703.85,2.29,...,1.72,2.00,21.00,2.50,16.17,1.50,19694.44,22000.0,1.82,1.60
Austin,42.64,98.73,75.44,36.78,0.10,1057.25,1625.06,1782.07,2830.71,2.15,...,1.30,2.70,29.00,2.54,18.33,1.55,20489.37,20910.0,1.45,1.69
Bakersfield,41.81,93.57,76.88,40.00,0.11,747.27,863.64,1294.62,1375.56,1.70,...,1.62,2.75,27.00,3.00,3.33,1.23,22800.00,25000.0,1.70,1.30
Baltimore,41.76,102.44,73.27,28.11,0.10,1048.82,1299.77,1652.94,2150.06,2.23,...,1.72,2.00,25.00,3.50,20.00,2.54,19272.25,23000.0,1.79,1.38
Bellingham,42.91,96.11,69.09,38.57,0.10,828.64,1058.33,1491.67,1722.73,1.83,...,2.90,3.00,48.00,2.50,40.00,1.43,21000.00,20000.0,1.47,1.75
Berkeley,52.22,127.50,78.64,40.00,0.10,1986.33,2364.71,3310.00,3927.27,2.00,...,2.25,4.30,26.00,4.00,9.00,2.17,26000.00,25000.0,1.83,1.79
Birmingham,51.05,54.06,56.90,27.78,0.04,524.05,755.53,873.53,1297.06,0.74,...,0.59,2.41,30.00,3.50,7.00,0.62,15666.67,16000.0,1.05,1.12
Boise,45.00,101.00,70.30,30.14,0.10,743.33,946.07,1246.67,1619.33,1.38,...,1.83,3.00,27.50,4.47,12.50,1.11,22266.67,24000.0,1.42,1.51
Boston,50.36,95.19,80.09,35.30,0.10,1732.32,2406.91,2755.52,4343.50,2.00,...,2.00,3.30,28.00,2.60,14.67,2.14,19443.33,22000.0,1.57,1.66
Boulder,38.33,90.00,64.17,32.50,0.10,1203.50,1485.71,2244.44,2900.00,1.99,...,3.20,2.25,20.00,3.25,0.00,1.85,23070.00,19947.5,2.19,1.62
Brooklyn,53.00,108.06,79.33,38.61,0.10,1796.88,2560.42,2989.29,4766.67,1.94,...,2.27,2.00,30.00,2.50,39.22,2.80,20592.00,21575.0,1.75,1.62
Buffalo,44.06,87.53,71.89,34.67,0.10,754.12,937.14,1166.67,1470.83,1.97,...,1.62,3.50,60.00,3.75,8.33,2.08,22543.25,26000.0,1.37,1.44
Burlington,43.75,84.38,68.12,37.50,0.10,925.00,1222.06,1854.17,2236.67,1.84,...,2.25,2.75,15.00,7.50,31.67,2.60,22000.00,23000.0,2.33,1.25
Charleston,47.20,88.78,73.75,38.57,0.10,1065.38,1357.00,1593.46,2782.69,3.33,...,2.60,2.82,66.00,6.00,15.00,3.12,20178.33,35000.0,3.00,1.43
Charlotte,41.43,91.75,73.60,33.78,0.10,975.53,1385.16,1562.67,2238.44,2.54,...,1.81,4.64,40.00,3.25,10.00,2.14,17900.00,20000.0,1.85,1.37
Chattanooga,41.67,77.50,73.75,34.29,0.10,761.11,941.67,1127.78,1525.00,1.87,...,1.83,2.00,60.00,5.00,20.00,1.34,23003.00,20500.0,1.88,1.29
Chicago,49.97,114.44,77.58,39.34,0.12,1132.98,1748.51,1948.92,3151.55,2.05,...,1.87,2.25,24.00,3.25,27.41,1.49,19927.89,20910.0,2.06,1.83
Cincinnati,43.94,80.60,68.47,31.64,0.10,662.88,985.06,1200.00,1857.14,1.87,...,1.72,1.64,18.00,4.75,22.49,1.59,20413.71,21135.0,2.00,1.22
Cleveland,38.89,79.27,71.25,30.17,0.10,673.68,908.57,1070.59,1605.88,2.36,...,1.76,4.00,29.00,4.22,26.75,1.99,19854.38,22500.0,1.72,1.30
Columbia,37.50,83.33,75.00,46.67,0.10,704.17,893.75,1138.89,1475.00,1.57,...,1.54,2.50,34.25,3.00,0.00,2.00,16000.00,20087.5,1.83,1.26
Columbus,46.41,87.47,80.65,32.38,0.14,796.82,1166.33,1308.50,2134.38,1.81,...,1.90,2.83,30.00,3.00,19.00,1.71,19888.89,24500.0,1.76,1.18
Dallas,41.28,97.23,72.00,34.52,0.10,988.22,1313.06,1751.89,2419.96,1.76,...,2.22,1.80,20.00,2.75,6.40,1.30,19714.29,20000.0,1.42,1.26
Denver,44.67,98.83,76.17,30.24,0.10,1316.79,1646.55,2167.29,2869.53,1.96,...,1.50,2.25,22.50,2.60,3.56,1.97,20677.93,21250.0,2.26,1.37
Des-Moines,46.67,82.78,73.22,40.17,0.10,772.22,965.00,1250.00,1866.67,1.75,...,1.75,4.25,36.00,2.50,3.33,1.70,26333.33,20750.0,2.00,1.68
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
Raleigh,37.00,89.59,77.94,31.07,0.10,955.12,1197.67,1413.69,1840.97,2.12,...,1.72,2.38,16.00,2.23,4.33,2.00,20418.48,19517.5,1.59,1.46
Reno,43.37,79.41,71.22,29.44,0.10,1032.78,1097.22,1624.71,1713.33,1.35,...,1.55,3.06,25.00,3.50,11.67,1.60,22960.00,22000.0,1.35,1.23
Richmond,41.81,87.92,66.85,36.44,0.10,936.41,1141.55,1353.12,1714.44,1.39,...,1.54,3.00,20.00,2.50,8.33,2.12,18500.00,20000.0,1.79,1.59
Riverside,46.67,81.57,69.33,42.00,0.10,1331.62,1418.75,1985.71,2150.00,1.72,...,1.92,1.50,25.00,2.50,0.00,1.51,18666.67,19000.0,1.44,1.59
Rochester,39.35,90.64,72.75,28.14,0.13,808.00,859.94,1333.33,1513.64,1.83,...,1.85,1.75,16.00,3.75,20.00,3.00,20111.11,23000.0,2.17,1.50
Sacramento,43.00,98.67,69.67,35.39,0.11,1151.19,1448.81,1730.56,2222.50,2.03,...,2.20,3.00,29.00,4.00,5.00,2.21,20115.62,22000.0,1.61,1.48
Saint-Louis,40.39,97.27,70.88,30.41,0.10,741.47,910.59,1238.93,1391.07,1.99,...,1.88,2.00,21.00,3.00,13.00,2.65,19397.00,20402.5,1.54,1.39
Saint-Paul,37.50,88.57,63.75,27.50,0.10,1037.50,1340.50,1500.00,2453.33,2.49,...,1.00,2.50,24.00,2.50,16.67,2.00,19200.00,22447.5,1.83,1.60
Saint-Petersburg,5048.72,6287.36,4899.06,2461.22,1.55,22381.48,34732.14,41558.90,66250.00,40.88,...,29.41,28.97,330.00,150.00,1147.14,66.02,1138588.24,1000000.0,44.33,35.91
Salem,43.78,101.50,71.88,36.00,0.10,696.88,851.75,1237.50,1475.00,2.06,...,1.59,2.75,30.00,3.00,6.67,1.30,19480.40,22857.5,1.70,1.68
Salt-Lake-City,48.92,84.94,70.65,38.53,0.10,877.37,1195.00,1422.50,1905.88,1.69,...,1.37,2.85,37.50,3.00,9.67,1.24,20170.46,19895.0,1.46,1.36
San-Antonio,41.73,89.85,73.85,30.46,0.10,755.22,943.12,1380.26,1685.79,1.98,...,1.11,3.00,24.00,3.00,9.50,1.71,20185.00,22375.0,1.45,1.40
San-Diego,47.69,108.80,79.70,34.03,0.10,1462.99,1861.19,2525.86,3191.67,1.47,...,1.51,3.00,25.00,2.80,20.08,1.72,19706.61,23000.0,1.93,1.69
San-Francisco,59.74,130.90,87.90,43.60,0.10,2615.18,3388.19,4231.71,5728.05,2.65,...,2.53,2.75,33.00,3.50,20.00,2.72,21080.39,22000.0,2.14,1.80
San-Jose,44.56,82.89,69.94,37.62,0.10,2105.94,2383.44,3249.00,3506.45,1.99,...,2.13,5.00,50.00,5.00,15.00,1.70,19587.50,19895.0,1.45,1.64
Santa-Barbara,46.00,93.50,86.12,24.67,0.10,1478.21,1736.67,3111.11,3350.00,1.75,...,2.32,3.00,30.00,2.98,15.00,1.43,21775.00,21000.0,1.30,1.67
Santa-Rosa,44.93,119.00,84.38,39.87,0.10,1616.36,1737.67,2575.00,2629.17,2.29,...,2.00,2.50,40.00,10.00,55.00,2.85,22333.33,24812.5,1.25,1.55
Seattle,50.05,117.50,81.77,42.06,0.10,1479.96,1970.04,2510.00,3597.23,2.50,...,1.84,2.70,30.00,2.60,29.10,2.15,21518.16,22000.0,2.07,1.58
Spokane,41.25,108.62,71.75,38.00,0.10,732.92,897.27,1136.36,1427.78,2.04,...,2.75,2.90,50.00,3.50,20.00,1.33,21249.50,26000.0,2.54,1.57
Syracuse,42.44,96.25,79.11,26.50,0.12,754.44,1111.11,1108.33,2020.00,1.63,...,1.09,1.25,25.00,5.44,22.50,1.35,19666.67,20000.0,2.16,1.41
Tacoma,40.09,95.56,76.08,37.14,0.10,932.12,1152.82,1627.18,2074.18,1.70,...,2.05,2.59,30.00,3.09,20.00,2.60,19009.50,24537.0,2.00,1.22
Tallahassee,34.00,99.00,82.83,21.66,0.10,757.50,775.00,1085.71,1300.00,2.17,...,2.75,2.50,24.60,2.50,4.98,1.99,17993.75,21991.5,1.75,1.31
Tampa,41.63,83.70,68.20,38.53,0.12,959.91,1302.19,1471.05,2061.11,2.45,...,1.60,2.20,18.00,2.50,13.75,2.08,19962.50,21500.0,1.30,1.56
Toledo,36.33,78.73,67.08,28.78,0.10,608.18,642.50,982.22,981.25,1.73,...,1.63,1.00,6.00,1.75,31.33,1.15,18333.33,20250.0,1.73,1.21
Tucson,48.44,113.76,71.20,40.67,0.11,620.79,682.33,1040.00,1184.93,1.20,...,1.62,2.35,24.00,2.55,23.00,1.21,20673.89,22488.5,1.35,1.27
Tulsa,46.05,107.33,78.71,39.25,0.10,600.78,760.28,1015.38,1388.21,1.48,...,1.66,1.90,30.00,2.75,2.67,1.91,19280.11,20839.0,2.09,1.39
Vancouver,72.41,132.51,106.29,43.23,0.44,1453.96,1910.71,2590.16,3553.31,1.72,...,1.87,3.04,33.43,3.50,18.60,1.97,23417.14,25440.0,2.29,2.06
Washington,49.95,102.95,82.27,37.27,0.10,1691.27,2121.67,2735.62,3897.37,3.07,...,1.69,2.16,25.00,3.50,11.12,2.57,19975.91,21500.0,2.56,1.76
West-Palm-Beach,41.00,95.44,83.67,38.06,0.10,1079.82,1380.54,1656.12,1999.88,2.13,...,1.80,2.88,18.73,2.35,17.33,2.00,20500.00,25997.5,1.69,1.29
Wichita,41.25,84.90,71.27,39.17,0.10,569.58,764.17,972.22,1300.00,1.28,...,2.00,2.00,31.50,2.70,3.25,1.71,19700.00,23000.0,2.10,1.33

In [120]:
art.shape

(101, 54)