In [3]:
from selenium.webdriver import Chrome
from bs4 import BeautifulSoup
import pandas as pd
import numpy as np
import pymongo
from selenium.common.exceptions import NoSuchElementException
from cost_of_living import *
from functools import reduce
import matplotlib.pyplot as plt
%matplotlib inline
from hidden import debt
from math import cos, sqrt

## Write a function to produce cost-of-living in multiple cities

In [2]:
data = pd.read_excel('data/citydf.xlsx')
data['city'].replace('Washington', "Washington D.C.", inplace=True)

In [4]:
monthly_constants = {
'Cinema, International Release, 1 Seat' : 2,
'Fitness Club, Monthly Fee for 1 Adult' : 2,
'Basic (Electricity, Heating, Cooling, Water, Garbage) for 915 sq ft Apartment' : 1,
'Internet (60 Mbps or More, Unlimited Data, Cable/ADSL)' : 1,
'Gasoline (1 gallon)' : 15,
'Imported Beer (11.2 oz small bottle)' : 10,
'Bottle of Wine (Mid-Range)' : 2,
'Cappuccino (regular)'  : 30,
'Meal, Inexpensive Restaurant' : 8,
'1 Pair of Jeans (Levis 501 Or Similar)' : 1,
'groceries (dollars)': 600
}

def cost_per_city_1B_Center(citydf, monthly_constants):
    for city in citydf.city.unique():
        total = 0
        for item, price in monthly_constants.items():
            if item != 'groceries (dollars)':
                price = float(citydf[(citydf['city']==city) & (citydf['item']==item)].values[0][3]) * price
                total += price
            else:
                total += price
        total += (float(citydf[(citydf['city']==city) & 
                               (citydf['item']=='Apartment (1 bedroom) in City Centre')].values[0][3]))
        result = {
        'city' : city,
        '1_Bed_Center_Total' : total
                  }
        yield result
        
def cost_per_city_3B_Center(citydf, monthly_constants):
    for city in citydf.city.unique():
        total = 0
        for item, price in monthly_constants.items():
            if item != 'groceries (dollars)':
                price = float(citydf[(citydf['city']==city) & (citydf['item']==item)].values[0][3]) * price
                total += price
            else:
                total += price
        total += round((float(citydf[(citydf['city']==city) & 
                               (citydf['item']=='Apartment (3 bedrooms) in City Centre')].values[0][3]) / 3),2)
        result = {
        'city' : city,
        '3_Bed_Center_Total' : total
                  }
        yield result

def cost_per_city_3B_Outside(citydf, monthly_constants):
    for city in citydf.city.unique():
        total = 0
        for item, price in monthly_constants.items():
            if item != 'groceries (dollars)':
                price = float(citydf[(citydf['city']==city) & (citydf['item']==item)].values[0][3]) * price
                total += price
            else:
                total += price
        total += round(((float(citydf[(citydf['city']==city) & 
                               (citydf['item']=='Apartment (3 bedrooms) Outside of Centre')].values[0][3])) / 3),2)
        result = {
        'city' : city,
        '3_Bed_Outside_Total' : total
                  }
        yield result

def cost_per_city_1B_Outside(citydf, monthly_constants):
    for city in citydf.city.unique():
        total = 0
        for item, price in monthly_constants.items():
            if item != 'groceries (dollars)':
                price = float(citydf[(citydf['city']==city) & (citydf['item']==item)].values[0][3]) * price
                total += price
            else:
                total += price
        total += (float(citydf[(citydf['city']==city) & 
                               (citydf['item']=='Apartment (1 bedroom) Outside of Centre')].values[0][3]))
        result = {
        'city' : city,
        '1_Bed_Outside_Total' : total
                  }
        yield result

In [5]:
def find_cost_of_living(data, monthly_constants):
    B1_center = pd.DataFrame(list(cost_per_city_1B_Center(data, monthly_constants)))
    B3_center = pd.DataFrame(list(cost_per_city_3B_Center(data, monthly_constants)))
    B1_Outside = pd.DataFrame(list(cost_per_city_1B_Outside(data, monthly_constants)))
    B3_Outside = pd.DataFrame(list(cost_per_city_3B_Outside(data, monthly_constants)))
    B1_center.set_index('city', inplace=True)
    B3_center.set_index('city', inplace=True)
    B1_Outside.set_index('city', inplace=True)
    B3_Outside.set_index('city', inplace=True)
    dfs = [B1_center, B3_center, B1_Outside, B3_Outside]
    city_matrix = pd.concat(dfs, axis=1)
    city_matrix['city'] = city_matrix.index
    city_matrix.drop(columns='city', inplace=True)
    return city_matrix

In [6]:
find_cost_of_living(data, monthly_constants)

,1_Bed_Center_Total,3_Bed_Center_Total,1_Bed_Outside_Total,3_Bed_Outside_Total
city,,,,
Palo-Alto,4387.48,3127.55,4094.21,2871.99
San-Jose,3714.08,2500.71,3456.40,2415.23
Portland,2864.56,2296.22,2485.55,1980.12
Austin,2969.98,2289.77,2399.66,1943.74
Denver,2907.57,2211.63,2574.14,1982.24
San-Diego,3210.41,2406.10,2804.00,2184.68
Washington D.C.,3517.34,2701.31,3064.00,2314.06
Boston,3821.77,2853.61,3136.72,2316.74
San-Francisco,4806.91,3329.76,4053.38,2852.41
Seattle,3375.61,2609.09,2866.58,2216.39
Atlanta,2826.20,2212.82,2369.24,1879.63
Los-Angeles,3482.61,2646.62,3036.76,2310.66
Chicago,3078.89,2405.30,2463.50,1993.23
New-York,4646.15,3593.82,3414.25,2594.11
Mountain-View,4161.09,2832.76,3674.42,2641.09
Santa-Monica,3877.65,3380.75,3464.08,2842.65
Cambridge,2314.90,1854.07,2086.22,1725.55
Salt-Lake-City,2440.12,1880.80,2099.88,1722.83
Raleigh,2463.53,1879.52,2220.98,1737.42
Nashville,2872.34,2253.19,2374.51,1918.48
Sunnyvale,4161.60,2806.31,3640.97,2542.65
Boulder,2824.38,2341.05,2562.76,2122.53
Irvine,3353.58,2384.34,3143.25,2270.99
Philadelphia,2893.43,2273.30,2368.40,1881.41
Dallas,2590.93,2092.87,2255.06,1867.09
Bellevue,3430.36,2473.14,3130.89,2220.37
Charlotte,2717.21,2051.36,2269.79,1797.04
Plano,2489.02,2043.78,2259.89,1905.69
Richmond,2409.60,1833.64,2187.77,1713.20

In [17]:
cities = {'New-York': 'New York, New York', 'San-Francisco' : 'San-Francisco, California', 
          'Honolulu' : 'Honolulu, Hawaii', 'Arlington' : 'Arlington, Virgina', 'Anchorage' : 'Anchorage, Alaska',
          'Brooklyn' : 'Brooklyn, New York', 'Santa-Rosa' : 'Santa-Rosa, California', 'Washington' : 'Washington, D.C.',
          'Charleston' : 'Charleston, South Carolina', 'Berkeley' : 'Berkeley, California', 
          'Seattle' : 'Seattle, Washington', 'Jersey-City': 'Jersey City, New Jersey', 
          'Boston' : 'Boston, Massachusetts', 'Oakland' : 'Oakland, California', 'Hartford' : 'Hartford, Connecticut',
          'Philadelphia' : 'Philadelphia, Pennsylvania', 'Albany' : 'Albany, New York','Long-Beach' : 'Long Beach, California', 
          'Irvine' : 'Irvine, California', 'Miami': 'Miami, Florida', 'Los-Angeles' : 'Los Angeles, California',
          'Boulder' : 'Boulder, Colorado', 'Sacramento' : 'Sacramento, California', 'Chicago' : 'Chicago, Illinois',
          'Greenville' : 'Greenville, South Carolina', 'Burlington' : 'Burlington, Vermont', 'San-Jose' : 'San Jose, California',
          'Everett' : 'Everett, Washington', 'Birmingham' : 'Birmingham, Alabama', 'Pittsburgh' : 'Pittsburgh, Pennsylvania',
          'Minneapolis' : 'Minneapolis, Minnesota', 'Baltimore' : 'Baltimore, Maryland', 'Portland' : 'Portland, Oregon',
          'Rochester' : 'Rochester, New York', 'Charlotte' : 'Charlotte, North Carolina',
          'Santa-Barbara' : 'Santa Barbara, California', 'West-Palm-Beach' : 'West Palm Beach, Florida', 
          'Tacoma' : 'Tacoma, Washington', 'Portland-ME' : 'Portland, Maine', 'Bellingham' : 'Bellingham, Washington',
          'San-Diego' : 'San Diego, California', 'Saint-Paul' : 'Saint Paul, Minnesota', 'Atlanta' : 'Atlanta, Georgia',
          'Asheville' : 'Asheville, North Carolina', 'Eugene' : 'Eugene, Oregon', 'Saint-Petersburg' : 'Saint Petersburg, Florida',
          'Buffalo' : 'Buffalo, New York', 'Peoria' : 'Peoria, Illinois', 'Austin' : 'Austin, Texas',
          'Cleveland' : 'Cleveland, Ohio', 'Jacksonville' : 'Jacksonville, Florida', 'Milwaukee' : 'Milwaukee, Wisconsin',
          'Denver' : 'Denver, Colorado', 'Indianapolis' : 'Indianapolis, Indiana', 'Arlington' : 'Arlington, Texas',
          'Ann-Arbor' : 'Ann Arbor, Michigan', 'Raleigh' : 'Raleigh, North Carolina', 'Orlando' : 'Orlando, Florida',
          'Tampa' : 'Tampa, Florida', 'Saint-Louis' : 'Saint Louis, Missouri', 'Nashville' : 'Nashville, Tennessee',
          'Syracuse' : 'Syracuse, New York', 'Salem' : 'Salem, Oregon', 'Kansas-City' : 'Kansas City, Missouri',
          'Spokane' : 'Spokane, Washington', 'Bakersfield' : 'Bakersfield, California', 'Columbus' : 'Columbus, Ohio',
          'Tallahassee' : 'Tallahassee, Florida', 'Memphis' : 'Memphis, Tennessee', 'Las-Vegas' : 'Las Vegas, Nevada',
          'Columbia' : 'Columbia, South Carolina', 'Dallas' : 'Dallas, Texas', 'Detroit': 'Detroit, Michigan', 
          'Phoenix' : 'Phoenix, Arizona', 'Greensboro' : 'Greensboro, North Carolina', 'Richmond' : 'Richmond, Virgina',
          'Cincinnati' : 'Cincinnati, Ohio', 'Fort Worth' : 'Fort Worth, Texas', 'Fresno' : 'Fresno, California',
          'Grand Rapids' : 'Grand Rapids, Michigan', 'Tucson' : 'Tucson, Arizona', 'Fremont' : 'Fremont, California',
          'Riverside' : 'Riverside, California', 'Albuquerque' : 'Albuquerque, New Mexico', 'Tulsa' : 'Tulsa, Oklahoma',
          'Chattanooga' : 'Chattanooga, Tennessee', 'Louisville' : 'Louisville, Kentucky', 'Salt-Lake-City' : 'Salt Lake City, Utah',
          'Houston' : 'Houston, Texas', 'Oklahoma City' : 'Oklahoma-City, Oklahoma', 'Des-Moines' : 'Des Moines, Iowa',
          'Fayetteville' : 'Fayetteville, Arizona', 'Madison' : 'Madison, Wisconsin', 'Wichita' : 'Wichita, Kansas',
          'San-Antonio' : 'San Antonio, Texas', 'Knoxville' : 'Knoxville, Tennessee', 'Vancouver' : 'Vancouver, Washington',
          'Toledo' : 'Toledo, Ohio', 'Boise' : 'Boise, Idaho', 'Reno' : 'Reno, Nevada', 'Little-Rock' : 'Little Rock, Arizona',
          'Huntsville' : 'Huntsville, Alabama', 'El-Paso' : 'El Paso, Texas', 'Lexington' : 'Lexington, Kentucky'}

In [20]:
city_data = list(scrape_cities(cities.keys()))

In [21]:
citydf = pd.DataFrame(city_data)

In [31]:
def get_city_data(city):
    city_data = pd.DataFrame(list(scrape_cities(city)))
    return city_data

In [37]:
get_city_data(['Washington'])

,category,city,item,price
0,Restaurants,Washington,"Meal, Inexpensive Restaurant",16.00
1,Restaurants,Washington,"Meal for 2 People, Mid-range Restaurant, Three...",70.00
2,Restaurants,Washington,McMeal at McDonalds (or Equivalent Combo Meal),8.00
3,Restaurants,Washington,Domestic Beer (1 pint draught),6.00
4,Restaurants,Washington,Imported Beer (11.2 oz small bottle),8.00
5,Restaurants,Washington,Cappuccino (regular),4.13
6,Restaurants,Washington,Coke/Pepsi (11.2 oz small bottle),1.96
7,Restaurants,Washington,Water (11.2 oz small bottle),1.76
8,Markets,Washington,"Milk (regular), (1 gallon)",3.46
9,Markets,Washington,Loaf of Fresh White Bread (1 lb),3.06
10,Markets,Washington,"Rice (white), (1 lb)",1.69
11,Markets,Washington,Eggs (regular) (12),3.26
12,Markets,Washington,Local Cheese (1 lb),4.88
13,Markets,Washington,"Chicken Breasts (Boneless, Skinless), (1 lb)",5.87
14,Markets,Washington,Beef Round (1 lb) (or Equivalent Back Leg Red ...,6.14
15,Markets,Washington,Apples (1 lb),3.07
16,Markets,Washington,Banana (1 lb),0.84
17,Markets,Washington,Oranges (1 lb),2.81
18,Markets,Washington,Tomato (1 lb),2.57
19,Markets,Washington,Potato (1 lb),1.85
20,Markets,Washington,Onion (1 lb),1.69
21,Markets,Washington,Lettuce (1 head),2.28
22,Markets,Washington,Water (1.5 liter bottle),2.56
23,Markets,Washington,Bottle of Wine (Mid-Range),15.00
24,Markets,Washington,Domestic Beer (0.5 liter bottle),4.40
25,Markets,Washington,Imported Beer (11.2 oz small bottle),4.40
26,Markets,Washington,Cigarettes 20 Pack (Marlboro),7.92
27,Transportation,Washington,One-way Ticket (Local Transport),2.55
28,Transportation,Washington,Monthly Pass (Regular Price),145.00
29,Transportation,Washington,Taxi Start (Normal Tariff),3.50
30,Transportation,Washington,Taxi 1 mile (Normal Tariff),2.16
31,Transportation,Washington,Taxi 1hour Waiting (Normal Tariff),25.00
32,Transportation,Washington,Gasoline (1 gallon),2.88
33,Transportation,Washington,Volkswagen Golf 1.4 90 KW Trendline (Or Equiva...,"21,500.00"
34,Transportation,Washington,Toyota Corolla 1.6l 97kW Comfort (Or Equivalen...,"19,975.91"
35,Utilities (Monthly),Washington,"Basic (Electricity, Heating, Cooling, Water, G...",124.15
36,Utilities (Monthly),Washington,1 min. of Prepaid Mobile Tariff Local (No Disc...,0.10
37,Utilities (Monthly),Washington,"Internet (60 Mbps or More, Unlimited Data, Cab...",64.70
38,Sports And Leisure,Washington,"Fitness Club, Monthly Fee for 1 Adult",63.17
39,Sports And Leisure,Washington,Tennis Court Rent (1 Hour on Weekend),11.12
40,Sports And Leisure,Washington,"Cinema, International Release, 1 Seat",14.00
41,Childcare,Washington,"Preschool (or Kindergarten), Full Day, Private...","1,665.00"
42,Childcare,Washington,"International Primary School, Yearly for 1 Child","27,400.00"
43,Clothing And Shoes,Washington,1 Pair of Jeans (Levis 501 Or Similar),49.95
44,Clothing And Shoes,Washington,"1 Summer Dress in a Chain Store (Zara, H&M, ...)",37.27
45,Clothing And Shoes,Washington,1 Pair of Nike Running Shoes (Mid-Range),82.27
46,Clothing And Shoes,Washington,1 Pair of Men Leather Business Shoes,102.95
47,Rent Per Month,Washington,Apartment (1 bedroom) in City Centre,"2,121.67"
48,Rent Per Month,Washington,Apartment (1 bedroom) Outside of Centre,"1,691.27"
49,Rent Per Month,Washington,Apartment (3 bedrooms) in City Centre,"3,897.37"
50,Rent Per Month,Washington,Apartment (3 bedrooms) Outside of Centre,"2,735.62"
51,Buy Apartment Price,Washington,Price per Square Feet to Buy Apartment in City...,566.40
52,Buy Apartment Price,Washington,Price per Square Feet to Buy Apartment Outside...,271.31
53,Salaries And Financing,Washington,Average Monthly Net Salary (After Tax),"4,613.37"
54,Salaries And Financing,Washington,"Mortgage Interest Rate in Percentages (%), Yea...",4.18

In [38]:
get_city_data(['Hoboken'])

,category,city,item,price
0,Restaurants,Hoboken,"Meal, Inexpensive Restaurant",13.70
1,Restaurants,Hoboken,"Meal for 2 People, Mid-range Restaurant, Three...",71.75
2,Restaurants,Hoboken,McMeal at McDonalds (or Equivalent Combo Meal),8.00
3,Restaurants,Hoboken,Domestic Beer (1 pint draught),6.00
4,Restaurants,Hoboken,Imported Beer (11.2 oz small bottle),8.00
5,Restaurants,Hoboken,Cappuccino (regular),4.08
6,Restaurants,Hoboken,Coke/Pepsi (11.2 oz small bottle),2.25
7,Restaurants,Hoboken,Water (11.2 oz small bottle),1.67
8,Markets,Hoboken,"Milk (regular), (1 gallon)",3.10
9,Markets,Hoboken,Loaf of Fresh White Bread (1 lb),4.93
10,Markets,Hoboken,"Rice (white), (1 lb)",4.50
11,Markets,Hoboken,Eggs (regular) (12),4.25
12,Markets,Hoboken,Local Cheese (1 lb),7.00
13,Markets,Hoboken,"Chicken Breasts (Boneless, Skinless), (1 lb)",8.91
14,Markets,Hoboken,Beef Round (1 lb) (or Equivalent Back Leg Red ...,11.49
15,Markets,Hoboken,Apples (1 lb),3.76
16,Markets,Hoboken,Banana (1 lb),1.00
17,Markets,Hoboken,Oranges (1 lb),4.75
18,Markets,Hoboken,Tomato (1 lb),4.50
19,Markets,Hoboken,Potato (1 lb),2.15
20,Markets,Hoboken,Onion (1 lb),2.65
21,Markets,Hoboken,Lettuce (1 head),3.25
22,Markets,Hoboken,Water (1.5 liter bottle),2.65
23,Markets,Hoboken,Bottle of Wine (Mid-Range),15.00
24,Markets,Hoboken,Domestic Beer (0.5 liter bottle),1.99
25,Markets,Hoboken,Imported Beer (11.2 oz small bottle),3.00
26,Markets,Hoboken,Cigarettes 20 Pack (Marlboro),11.99
27,Transportation,Hoboken,One-way Ticket (Local Transport),3.33
28,Transportation,Hoboken,Monthly Pass (Regular Price),89.50
29,Transportation,Hoboken,Taxi Start (Normal Tariff),6.00
30,Transportation,Hoboken,Taxi 1 mile (Normal Tariff),5.00
31,Transportation,Hoboken,Taxi 1hour Waiting (Normal Tariff),?
32,Transportation,Hoboken,Gasoline (1 gallon),2.48
33,Transportation,Hoboken,Volkswagen Golf 1.4 90 KW Trendline (Or Equiva...,"20,000.00"
34,Transportation,Hoboken,Toyota Corolla 1.6l 97kW Comfort (Or Equivalen...,"18,500.00"
35,Utilities (Monthly),Hoboken,"Basic (Electricity, Heating, Cooling, Water, G...",120.00
36,Utilities (Monthly),Hoboken,1 min. of Prepaid Mobile Tariff Local (No Disc...,0.10
37,Utilities (Monthly),Hoboken,"Internet (60 Mbps or More, Unlimited Data, Cab...",68.33
38,Sports And Leisure,Hoboken,"Fitness Club, Monthly Fee for 1 Adult",61.00
39,Sports And Leisure,Hoboken,Tennis Court Rent (1 Hour on Weekend),?
40,Sports And Leisure,Hoboken,"Cinema, International Release, 1 Seat",12.50
41,Childcare,Hoboken,"Preschool (or Kindergarten), Full Day, Private...","2,400.00"
42,Childcare,Hoboken,"International Primary School, Yearly for 1 Child","18,000.00"
43,Clothing And Shoes,Hoboken,1 Pair of Jeans (Levis 501 Or Similar),80.00
44,Clothing And Shoes,Hoboken,"1 Summer Dress in a Chain Store (Zara, H&M, ...)",50.00
45,Clothing And Shoes,Hoboken,1 Pair of Nike Running Shoes (Mid-Range),96.67
46,Clothing And Shoes,Hoboken,1 Pair of Men Leather Business Shoes,100.00
47,Rent Per Month,Hoboken,Apartment (1 bedroom) in City Centre,"2,233.33"
48,Rent Per Month,Hoboken,Apartment (1 bedroom) Outside of Centre,"1,875.00"
49,Rent Per Month,Hoboken,Apartment (3 bedrooms) in City Centre,"4,800.00"
50,Rent Per Month,Hoboken,Apartment (3 bedrooms) Outside of Centre,"4,500.00"
51,Buy Apartment Price,Hoboken,Price per Square Feet to Buy Apartment in City...,699.99
52,Buy Apartment Price,Hoboken,Price per Square Feet to Buy Apartment Outside...,624.99
53,Salaries And Financing,Hoboken,Average Monthly Net Salary (After Tax),"5,000.00"
54,Salaries And Financing,Hoboken,"Mortgage Interest Rate in Percentages (%), Yea...",4.36